@import '../../../styles/styles.scss';

form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    margin: 0;
    
    fieldset {
        display: flex;
        flex-direction: colum;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;

        label {
            font-size: 0.9rem;
        }
    }
}

.generic-board {
    display: flex;
    flex-direction: column;

    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;

    .grid-item {       
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1 1 0px;
    }

    .filter {
        background-color: #fff;
        border: 1px solid #ccc;
        margin-bottom: 0.5rem;
        padding: 0.5rem;

        h3 {
            margin: 0.25rem;
        }
    }

    .board-item {
        background-color: #fff;
        border: 4px solid rgb(58, 58, 58);
        margin: 0.25rem;
        padding: 0.5rem;
        border: 1px solid #ccc;
        border-radius: $rounded-corners;

        display: flex;
        flex-direction: column;
        gap: 0.25rem;

        font-size: 0.75rem;

        header {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        footer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.5rem;
        }

        .type {
            color: #ffff;
            font-size: 0.6rem;
            padding: 0.125rem;
            border-radius: 0.15rem;
        }
        
        .type.design {
            background-color: green;
        }

        .type.build {
            background-color: rgb(37, 113, 158);
        }

        .type.test {
            background-color: rgb(193, 184, 13);
        }

        .due {
            font-size: 0.75em;
        }
    }

    .board-item:hover {
        background-color: rgb(243, 243, 243);
    }
}

.danger {
    color: red;
}
